<div class="pb-4 text-center">
	<div class="fs-3 fw-bold">Mon parcours</div>
	<div class="text-secondary">My experiences</div>
</div>


<ul class="nav nav-pills justify-content-around mb-3" id="pills-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Pro</button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Formations</button>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
		<div class="container pb-4">
			<div class="row">

				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow">
						<div class="card-body">
							<h5 class="card-title">Développeur web Fullstack Junior</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Armajeur</h6>
							<button class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#artmajeurModal">Voir plus
								{{ ux_icon('material-symbols:arrow-right-rounded') }}</button>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="artmajeurModal" tabindex="-1" aria-labelledby="artmajeurModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-2 mt-0 pt-0">
								<div class="mb-4 text-center">
									<div class="fw-bold fs-5">
										Développeur Web Fullstack Junior
									</div>

									<div class="text-body-secondary fw-light fst-italic">
										Artmajeur
									</div>
									<div class="text-body-secondary fw-light fst-italic">
										Février 2021 - Août 2023
									</div>
								</div>

								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Correction continue des bugs et features
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Participation aux décisions de conception
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Création d'un module de gestion des SMS sur OVH Cloud
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Migration de tout le Backend sur EasyAdmin
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Gestion des e-mails avec Brevo
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Utilisation d'ElasticSearch pour gérer la base de données
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Migration du Frontend Bootstrap 3 > Bootstrap 5
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Migration du Backend Bootstrap 4 > Bootstrap 5
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Card -->
				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow">
						<div class="card-body">
							<h5 class="card-title">Stagiaire Développeur web Fullstack</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">EvalandGo</h6>
							<button class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#evalandgoModal">Voir plus
								{{ ux_icon('material-symbols:arrow-right-rounded') }}</a>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="evalandgoModal" tabindex="-1" aria-labelledby="evalandgoModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-2 mt-0 pt-0">
								<div class="mb-4 text-center">
									<div class="fw-bold fs-5">
										Stagiaire Développeur Web Fullstack
									</div>

									<div class="text-body-secondary fw-light fst-italic">
										EvalandGo
									</div>
									<div class="text-body-secondary fw-light fst-italic">
										Février 2020 - Août 2020
									</div>
								</div>

								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Assistance à la conception du cahier des charges
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Correction continue des bugs et features
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Migration de projet : PHP 7.1 > PHP 7.3
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Migration de projet : Symfony 2.8 > Symfony 4.4
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Gestion de bases de données MySQL et MongoDB
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Card -->
				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow no-web">
						<div class="card-body">
							<h5 class="card-title">Employé polyvalent</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Leclerc</h6>
							<button class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#leclercModal">Voir plus
								{{ ux_icon('material-symbols:arrow-right-rounded') }}</a>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="leclercModal" tabindex="-1" aria-labelledby="leclercModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-2 mt-0 pt-0">
								<div class="mb-4 text-center">
									<div class="fw-bold fs-5">
										Employé polyvalent
									</div>

									<div class="text-body-secondary fw-light fst-italic">
										Juin 2019 - Septembre 2019
									</div>
								</div>

								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Mise en rayon
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Gestion des stocks
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Relation client
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Gestion de la caisse
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Card -->
				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow no-web">
						<div class="card-body">
							<h5 class="card-title">Manutention</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Intérim</h6>
							<button class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#interimModal">Voir plus
								{{ ux_icon('material-symbols:arrow-right-rounded') }}</a>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="interimModal" tabindex="-1" aria-labelledby="interimModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-2 mt-0 pt-0">
								<div class="mb-4 text-center">
									<div class="fw-bold fs-5">
										Manutentionnaire
									</div>

									<div class="text-body-secondary fw-light fst-italic">
										2017 - 2019
									</div>
								</div>

								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Remplissage / Vidage de camions
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Agent de nettoyage après sinistre
								</div>
								<div>
									<span class="checklist me-2">{{ ux_icon('mingcute:check-fill') }}</span>
									Vendeur de sapins
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
		<div class="container pb-4">
			<div class="row">

				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow">
						<div class="card-body">
							<h5 class="card-title">Développeur Web Fullstack</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">3W Academy</h6>
							<h6 class="card-subtitle mb-2 text-body-secondary fst-italic">Montpellier | 2020</h6>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow">
						<div class="card-body">
							<h5 class="card-title">Développeur Web et Web Mobile</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Webforce3</h6>
							<h6 class="card-subtitle mb-2 text-body-secondary fst-italic">Marseille | 2019</h6>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow no-web">
						<div class="card-body">
							<h5 class="card-title">DU Level Design</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Gamagora</h6>
							<h6 class="card-subtitle mb-2 text-body-secondary fst-italic">Lyon | 2015 - 2016</h6>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4 mb-3">
					<div class="card border-0 shadow no-web">
						<div class="card-body">
							<h5 class="card-title">Licence Arts du Spectacle : Audiovisuel</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">Gamagora</h6>
							<h6 class="card-subtitle mb-2 text-body-secondary fst-italic">Montpellier | 2012 - 2015</h6>
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>
</div>
