<div class="pb-4 text-center">
	<div class="fs-3 fw-bold">Mes compétences</div>
	<div class="text-secondary">My softskills</div>
</div>

<div id="skills" class="container pb-4">
	<div class="row">

		<div class="col-12 col-md-6 mb-3">
			<div class="card border-0 shadow">
				<div class="card-body">
					<h5 class="card-title text-center fw-bold mb-4">Frameworks</h5>

					<div class="row">
						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('mdi:symfony') }}</div>
								<div class="col-9">
									<div>Symfony</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>

						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('mdi:react') }}</div>
								<div class="col-9">
									<div>React</div>
									<div class="lvl-basics text-body-secondary">bases</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('ri:bootstrap-fill') }}</div>
								<div class="col-9">
									<div>Bootstrap</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<div class="card border-0 shadow">
				<div class="card-body">
					<h5 class="card-title text-center fw-bold mb-4">Langages</h5>

					<div class="row">
						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('flowbite:html-solid') }}</div>
								<div class="col-9">
									<div>HTML</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>

						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('akar-icons:javascript-fill') }}</div>
								<div class="col-9">
									<div>Javascript</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('flowbite:css-solid') }}</div>
								<div class="col-9">
									<div>CSS</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('zondicons:php-elephant') }}</div>
								<div class="col-9">
									<div>PHP</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<div class="card border-0 shadow">
				<div class="card-body">
					<h5 class="card-title text-center fw-bold mb-4">Bases de données</h5>

					<div class="row">
						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('mdi:sql-query') }}</div>
								<div class="col-9">
									<div>MySQL</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>

						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('dashicons:rest-api') }}</div>
								<div class="col-9">
									<div>REST APIs</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('devicon-plain:elasticsearch') }}</div>
								<div class="col-9">
									<div>ElasticSearch</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('lineicons:mongodb') }}</div>
								<div class="col-9">
									<div>MongoDB</div>
									<div class="lvl-basics text-body-secondary">bases</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 mb-3">
			<div class="card border-0 shadow">
				<div class="card-body">
					<h5 class="card-title text-center fw-bold mb-4">Autres</h5>

					<div class="row">
						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('mdi:git') }}</div>
								<div class="col-9">
									<div>Git / GitHub</div>
									<div class="lvl-advanced text-body-secondary">avancé</div>
								</div>
							</div>
						</div>

						<div class="col-6 mb-4">
							<div class="row">
								<div class="col-3">{{ ux_icon('hugeicons:seo') }}</div>
								<div class="col-9">
									<div>SEO</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-3">{{ ux_icon('simple-icons:brevo') }}</div>
								<div class="col-9">
									<div>Brevo</div>
									<div class="lvl-medium text-body-secondary">intermédiaire</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
